<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Evde Olmak Harika!</p>
                    <h2>Bugün bir mülk bulun</h2>
                    <div class="most-searches">
                        <h4>En Çok Arananlar</h4>
                        <ul>
                            <li><a href="#link">Villa</a></li>
                            <li><a href="#link">Apartman</a></li>
                            <li><a href="#link">Yazlık</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Anahtar kelimeleri girin" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Ofis</option>
                                <option>Villa</option>
                                <option>Apartman</option>
                                <option>Kır Evi</option>
                                <option>Göl Evi</option>
                                <option>Bahçe</option>
                                <option>Daire</option>
                                <option>Müstakil Ev</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Select Country</option>
                                <option>Türkiye</option>
                                <option>Almanya</option>
                                <option>İngiltere</option>
                                <option>Hollanda</option>
                                <option>Polonya</option>
                                <option>Fransa</option>
                                <option></option>
                            </select>
                        </span>
                        <button type="submit" class="btn-primary">Ara</button>
                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>Taslak</a>
                </section>
            </div>
        </div>
    </div>
</section>